<html>
	<head>
		<title>Employee form</title>
	</head>
	<body>
		<h1>Employee form</h1>
		<form th:action="@{/saveemployee}" method="post">
			<label for="empName">Employee Name:</label>
			<input type="text" id="empName" name="empName" required><br><br>
			
			<label for="empDOB">Employee DOB:</label>
			<input type="date" id="empDOB" name="empDOB" required><br><br>
			
			<label for="gender">Employee Gender:</label>
			<input type="radio" id="gender" name="gender" value="Male" required>Male
			<input type="radio" id="gender" name="gender" value="Female"required>Female
			<br><br>
			
			<label for="empBasicSalary">Employee Basic Salary:</label>
			<input type="number" id="empBasicSalary" name="empBasicSalary" required><br><br>
			
			<label for="department">Employee Department:</label>
			<input type="text" id="department" name="department" required><br><br>
			
			<label for="experience">Employee Experience:</label>
			<input type="number" id="experience" name="experience" required><br><br>
			
			<button type="submit">Save Employee</button>
			<button type="reset">Reset</button>

		</form>
	</body>
</html>